[half], [row-half]{
    @include flex(0,0,calc(50% - 8px));
}
[space-between]{
	@include justify-content(space-between!important);
}
[align-self-center]{
	@include align-self(center);
}
[column-half]{
	width: calc(50% - 8px);
}
[full]{
    @include flex(1,1,100%);
}
[short]{
    @include flex(0.5,1,0);
}
[long]{
    @include flex(2,1,0);
}
[right]{
	margin-left: auto!important;
}
[left]{
	margin-right: auto!important;

}
[horizontal], [row]{
    @include flex-direction(row);
}
[vertical], [column]{
    @include flex-direction(column);
}
[soft-full]{
	@include flex(1,1,100%);
}
[soft-auto]{
	@include flex(1,1,auto);
}
[hard-full]{
	@include flex(0,0,100%);
}
[hard-auto]{
	@include flex(0,0,auto);
}
[flex-wrap]{
	@include flex-wrap(wrap);
}

*[flex-half]{
	@include flex(0,0,calc(50% - 5px));
}
[loader]{
	height: 48px;
}

[z="1"]{
	box-shadow: 0px 5px 9px -8px black;
}
[z="2"]{
	box-shadow: 0px 10px 9px -6px black;
}
[z="3"]{
	box-shadow: 0px 12px 10px -4px black;
}
[z="4"]{
	box-shadow: 0px 15px 22px -7px black;
}

[disabled]{
	opacity: 0.3;
	cursor: disabled;
	pointer-events: none;
	button, input{
		cursor: not-allowed;
	}
}



[red]{color:red;}
[orange]{color: $color_orange;}
[green]{}
[black]{}
[black-85]{color:$color_black_85}
