html{
    background-color: rgb(63, 134, 255);
    background-color: #EB4E4E;
    background-color: #D5D5D5;
    @include display-flex();
    width: 100%;
    height: 100%;
    &.blue{
        background-color: #AEC3E3;
    }
    &.yellow{
        background-color: #E8E58B;
    }
    &.pink{
        background-color: #D25ED9;
    }
    &:active{
        cursor: pointer;
    }
}
a{
    text-decoration: none;
    color: black;
}
h1,h2,h3,h4,h5{
    font-size: 13px;
    text-align: left;
    margin: 0;
}
h1{
    font-size: 32px;
    line-height: 100%;
    &~p{
        margin-top: 0px;
        &~h1{
            margin-top: 20px;
        }
    }
}
h2{
    font-size: 28px;
    line-height: 100%;
    &~p{
        margin-top: 0px;
        &~h2{
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid rgba(0,0,0,0.1);
        }
    }
}
p{
    font-size: 22px;
    margin: 0;

}
body{
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    @include flex(1,1,100%);
    @include display-flex();
    @include flex-direction(row);
}
main{
    @include flex(1,1,100%);
    @include display-flex();
    @include flex-direction(column);
    overflow: scroll;
    overflow-x: hidden;
    >*{
        padding: 0 40px 40px 40px;
        padding-top: $hemp-header-height + $hemp-header-padding + $hemp-header-padding + 40px;
        @include flex(0,0,auto);
        @include display-flex();
        @include flex-direction(column);
    }
}
form{
    @include display-flex();
    @include flex-direction(column);
}
section{
    @include display-flex();
    @include flex-direction(row);
    @include justify-content(space-between);
    @include flex(0,0,auto);
}
footer{
    @include display-flex();
}