// Open Sans
@font-face {
    font-family: 'Open Sans Light';
    src: url('fonts/open-sans/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'Open Sans Regular';
    src: url('fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'Open Sans Medium';
    src: url('fonts/open-sans/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'Open Sans Bold';
    src: url('fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'Open Sans Black';
    src: url('fonts/open-sans/OpenSans-Extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; }

// Source Sans Pro
@font-face {
    font-family: 'Source Sans Thin';
    src: url('fonts/source-sans-pro/SourceSansPro-ExtraLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'Source Sans Light';
    src: url('fonts/source-sans-pro/SourceSansPro-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'Source Sans Regular';
    src: url('fonts/source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'Source Sans Medium';
    src: url('fonts/source-sans-pro/SourceSansPro-Semibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'Source Sans Bold';
    src: url('fonts/source-sans-pro/SourceSansPro-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'Source Sans Black';
    src: url('fonts/source-sans-pro/SourceSansPro-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal; }