section#library {
    @include display-flex();
    @include flex-direction(column);
    margin-bottom:80px;
    .container {
        width: 96%;
        display: block;
        margin: 0 auto;
    }
    h1,h2,h3,h4,h5,h6,p{
        margin: 0px;
        padding: 0px;
        color: $color_brand_shade ;
    }
    h1,h2,h3,h4,h5,h6{
        text-transform: uppercase;
    }
    h1{
        width: 400px;
        margin: 0px;
        font-size: 36px;
        font-weight: 500;
        font-family: 'Open Sans Bold';
        text-align: right;
    }

    > p {
        color: white;
        width: 400px;
        text-align: right;
        font-family: 'Open Sans Bold';
        font-size: 20px;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.25);
    }

    // p {
    //     font-size: 48px;
    //     font-weight: 600;
    //     color: #fff;
    //     margin: 0px;
    // }
    > section {
        // background-image: url(../images/vertical-ruler.png);
        // background-repeat: repeat-y;
        // background-position: 32.0% 0;
        @include display-flex();
        @include flex-direction(column);

        h2 {
            width: 400px;
            font-size: 48px;
            text-align: right;
            font-weight: 400;
            font-family: 'Open Sans Bold';
            margin: 0px;
        }
        > section {
            @include display-flex();
            @include flex-direction(column);
            padding: 0 0 40px 0;
            > header {
                @include display-flex();
                h3 {
                    @include flex(0,0,400px);
                    text-align: right;
                    font-size: 24px;
                }
                p {
                    padding: 0 0 0 40px;
                }
            }
            > section {
                @include display-flex();
                padding: 0 0 4px 0;
                h4 {
                    @include flex(0,0,400px);
                    text-align: right;
                    font-size: 14px;
                    font-family: 'Open Sans Light';
                    color: rgba(0,0,0,0.4);
                }
                > section {
                    padding: 0 0 0 40px;
                    @include flex(1,1,100%);
                    @include display-flex();
                    @include flex-wrap(wrap);
                    h5{
                        @include flex(1,1,100%);
                    }
                    .color{
                        @include flex(0,0,60px);
                        @include display-flex();
                        @include flex-direction(column);
                        @include justify-content(center);
                        height: 60px;
                        border-radius: 2px;
                        margin: 0 4px 0 0;
                        font-size: 12px;
                        text-align: center;
                        &.red{
                            background-color: $color_brand_shade;
                            color: white;
                        }
                        &.white{
                            background-color: white;
                        }
                    }
                }
            }
        }

        &#typography{
            .opensans, .sourcesans{
                @include flex-direction(column);
                font-size: 52px;
                p{
                    font-size: inherit;
                }
            }
            .opensans{
                p{
                    &:nth-of-type(1){
                        font-family: 'Open Sans Light';
                    }
                    &:nth-of-type(2){
                        font-family: 'Open Sans Regular';
                    }
                    &:nth-of-type(3){
                        font-family: 'Open Sans Medium';
                    }
                    &:nth-of-type(4){
                        font-family: 'Open Sans Bold';
                    }
                    &:nth-of-type(5){
                        font-family: 'Open Sans Black';
                    }
                }
            }
            .sourcesans{
                p{
                    &:nth-of-type(1){
                        font-family: 'Source Sans Thin';
                    }
                    &:nth-of-type(2){
                        font-family: 'Source Sans Light';
                    }
                    &:nth-of-type(3){
                        font-family: 'Source Sans Regular';
                    }
                    &:nth-of-type(4){
                        font-family: 'Source Sans Medium';
                    }
                    &:nth-of-type(5){
                        font-family: 'Source Sans Bold';
                    }
                    &:nth-of-type(6){
                        font-family: 'Source Sans Black';
                    }
                }
            }
        }
    }

    .component {
        @include display-flex();
        margin-bottom: 20px;
    }

    .component-list {
        @include flex(1,1,75%);
    }

    .component > h3 {
        @include display-flex();
        text-align: right;
        @include flex(1,1,400px);
        font-weight: 400;
        font-size: 24px;
        color: black;
        @include flex-direction(column);
        margin: 0;
    }

    .item {
        @include display-flex();
        margin-bottom: 30px;
    }

    .item-title {
        width: 20%;
        display: block;
    }

    .item > h4 {
        left: 0px;
        width: 10%;
        text-align: right;
        font-size: 14px;
        font-weight: 400;
        color: #aaa;
        @include flex(0,0,150px);
        margin: 0;
        padding: 0 12px;
    }

    .elements {
        left: 15%;
        width: 85%;
        @include display-flex();
    }


    .color-pallet {
        display: inline-block;
        width: 100%;
        margin-bottom: 24px;
    }

    .color-swatch {
        width: 60px;
        height: 60px;
        border-radius: 3px;
        display: inline-block;
        margin-right: 4px;
        margin-bottom: 4px;

        float: left;
        position: relative;
    }

    .color-swatch .hex-code {
        position: absolute;
        top: 65px;
        font-size: 14px;
        margin-left:3px;
    }

    .col-EE4E22{
        background-color:#EE4E22;
    }

    .col-FFFFFF{
        background-color:#FFFFFF;
    }

    .col-1E2930{
        background-color:#1E2930;
    }

    .col-ECEEF2{
        background-color:#ECEEF2;
    }

    .col-4B5459{
        background-color:#4B5459;
    }

    .col-7C7B7B{
        background-color:#7C7B7B;
    }

    .col-676C74{
        background-color:#676C74;
    }

    .col-EEE200{
        background-color:#EEE200;
    }

    .col-8DC63F{
        background-color:#8DC63F;
    }

    .col-FF1D00{
        background-color:#FF1D00;
    }

    .col-BAB100{
        background-color:#BAB100;
    }

    .col-719E33{
        background-color:#719E33;
    }

    .col-CC1800{
        background-color:#CC1800;
    }


    .syntax{
        cursor: pointer;
    }

    .syntax:hover{
        text-decoration: underline;
    }

    .template-modal{
        position: absolute;
        width:800px;
        border:2px solid #ccc;
        left:34%;
        top:200px;
        background-color:white;
        z-index: 10;
        border-radius: 5px;
        padding:15px;
        -webkit-box-shadow: 4px 4px 7px -2px rgba(0,0,0,0.63);
    -moz-box-shadow: 4px 4px 7px -2px rgba(0,0,0,0.63);
    box-shadow: 4px 4px 7px -2px rgba(0,0,0,0.63);
    }

    .arrow_box {
        
        background: #fff;
        border: 2px solid #ccc;
    }
    .arrow_box:after, .arrow_box:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box:after {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #fff;
        border-width: 30px;
        margin-top: -30px;
    }
    .arrow_box:before {
        border-color: rgba(204, 204, 204, 0);
        border-right-color: #ccc;
        border-width: 33px;
        margin-top: -33px;
    }

    .hide{
        display: none;
    }

    .close-modal{
        position: absolute;
        right:5px;
        top:-5px;
        font-size: 24px;
    }

    .close-modal:hover{
        cursor: pointer;
        color:#aaa;
    }

    .template-label{
        margin-top:0px;
    }
}