/*
Creating mixins:
@mixin name($value){
    property: $value;
}

Using mixins:
@include name($value){
    property: $value
}
*/
@mixin user-select($select){
    -webkit-user-select: $select;      
    -moz-user-select: $select;
    -ms-user-select: $select;
    -o-user-select: $select;
    user-select: $select;
}
@mixin ellipsis(){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin videoCardRendering(){
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);


   // Fixes possible flickering issues
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
}


@mixin shadow-inset(){
    -webkit-box-shadow: inset 0px -5px 15px -10px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px -5px 15px -10px rgba(0, 0, 0, 0.3);
}

@mixin display-flex(){
    display: -webkit-flex;
    display: flex;
}
@mixin flex-direction($direction){
    -webkit-flex-direction: $direction;
    flex-direction: $direction;
}
@mixin flex($grow, $shrink, $size){
    -webkit-flex: $grow $shrink $size;
    flex: $grow $shrink $size;
}
@mixin justify-content($val){
    -webkit-justify-content: $val;
    justify-content: $val;
}
@mixin align-items($location){
    -webkit-align-items: $location;
    align-items: $location;
}
@mixin align-self($location){
    -webkit-align-self: $location;
    align-self: $location;
}
@mixin flex-wrap($val){
    -webkit-flex-wrap: $val;
    flex-wrap: $val;
}
@mixin transform-rotate($degree){
    -webkit-transform: rotate($degree);
    transform: rotate($degree);
}
@mixin transform-translate3d-scale($xpos: 0, $ypos: 0, $zpos: 0, $ratio: 1){
    -webkit-transform: translate3d($xpos, $ypos, $zpos) scale($ratio);
    transform: translate3d($xpos, $ypos, $zpos) scale($ratio);
}
@mixin transform-origin($xpos, $ypos){
    -webkit-transform-origin: $xpos $ypos;
    transform-origin: $xpos $ypos;
}
@mixin transition($argument){
    -webkit-transition: $argument;
    transition: $argument;
}
@mixin transform($argument){
    -webkit-transform: $argument;
    transform: $argument;

}