body{
    &.iPad, &.iPhone, &.iPod, &.android{
        .info{
            &:hover{
                background-color: inherit;
                color: inherit;
                a{
                    color: inherit;
                }
            }
        }
    }
    &.PC {
        .info{
            &:hover{
                background-color: $color_brand_shade;
                color: white;
                a{
                    color: white!important;
                }
            }
        }
    }
}