$color_master_white						: #f0f0f0;

$hemp-header-height : 48px;
$hemp-header-padding : 0px;







// colors
$color_brand_shade                      : #ee6c2c;						// Red
$color_brand_highlight                  : rgb(255,255,255);				// White
$color_site_shade                       : rgb(30,41,48);				// Navy
$color_site_highlight                   : rgb(236,238,242);
$color_site_grey_one                    : rgb(74,84,89);
$color_site_grey_two                    : rgb(103,108,116);
$color_site_grey_three                  : rgb(124,123,123);
$color_alternative_highlight_yellow     : rgb(238,226,0);
$color_alternative_highlight_green      : rgb(141,198,63);
$color_alternative_highlight_red        : rgb(255,29,0);
$color_alternative_shadow_yellow        : rgb(185,183,0);
$color_alternative_shadow_green         : rgb(113,158,51);
$color_alternative_shadow_red           : rgb(204,24,0);
$color_background                       : rgb(213,214,218);
$color_black_15                         : rgba(0,0,0,0.15);
$color_black_50                         : rgba(0,0,0,0.50);
$color_black_85                         : rgba(0,0,0,0.85);
$color_white_75                         : rgba(255,255,255,0.75);
$color_white_85                         : rgba(255,255,255,0.85);
$color_white_95                         : rgba(255,255,255,0.95);
$color_white_100                        : rgba(255,255,255,1);

$color_payfirma_red 					: $color_alternative_highlight_red;
$color_payfirma_orange 					: $color_brand_shade;
$color_payfirma_white 					: ;

$color_primary 							: #f06b30;
$color_secondary 						: #37454d;
$color_secondary_light 					: #5F6A71;
$color_orange : $color_primary;
$color_red : ;
$color_green : ;
$color_black : ;

// formatting
$format_tablet                          : "(min-width: 768px) and (max-width: 1023px)";
$format_desktop                         : "(min-width: 1024px)";

// icons
$icons_sidebar                          : "icons/sidebar.png";

// layout
$layout_nav_width                       : 320px;
$layout_nav_margin_left					: 20px;


@each $color, $tone in (
		red: rgb(220, 63, 63), 
		orange: rgb(247, 125, 71), 
		yellow: rgb(215, 222, 58),
		blue: rgb(63, 134, 255),
		magenta: rgb(172, 46, 255),
		gold: gold,
		alphablack8: rgba(0,0,0,0.08))

		{ &[#{$color}] {
			background-color: $tone;
		}}
