<a
	ng-if="clockButton.type != 'submit'"
	type="{{clockButton.type}}" 
	ng-href="{{clockButton.href}}" 
	ng-click="clockButton.onClick()">
</a>
<button ng-if="clockButton.type == 'submit'"
	type="{{clockButton.type}}">
</button>
<!-- <a href></a> -->
<label>{{clockButton.label}}</label>