clock-button{
	position: relative;
	background: #45BB8A;
	color: white;
	font-size: 16px;
    text-align: center;
    padding: 16px;
    cursor: pointer;
    @include display-flex();
    border-radius: 2px;
    transition: all 0.3s;
    box-shadow: 0px 2px 3px -2px black;
    text-transform: capitalize;
	button, a{
		opacity: 0;
		position: absolute;
	    top: 0px;
	    bottom: 0px;
	    left: 0px;
	    width: 100%;
    	cursor: pointer;
	}
	&:hover{
		background: #3CA77A;
	}
	&:active{
		background: #45BB8A;
	}
	label{
   		@include display-flex();
   		@include justify-content(center);
   		@include flex(1,1,100%);
   		@include align-items(center);
	}

	@each $color, $tone in (
		red: rgb(220, 63, 63), 
		orange: rgb(247, 125, 71), 
		yellow: rgb(215, 222, 58),
		blue: rgb(63, 134, 255),
		magenta: rgb(172, 46, 255)) {
		&[#{$color}], &.#{$color}{
			background-color: $tone!important;
			color: white!important;
			&:hover{
				background-color: darken($tone, 10);
			}
			&:active{
				background-color: lighten($tone, 10);
			}
		}
	}
	&+clock-button{
		margin-left: 4px;
	}
}