clock-input, clock-select{
    @include display-flex();
    @include flex(0,0,auto);
    text-align: right;
    background-color: white;
    border-width: 0px;
    position: relative;
    margin: 20px 1px;
    font-size: 28px;
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.6);
    border-radius: 2px 2px 0 0;
    transition: all 0.3s;
    clock-icon{
        top: 18px;
        left: 18px!important;
        opacity: 0.85;
    }
    label {
        @include transform(translate3d(16px, 4px, 0px) scale(1));
        @include transform-origin(left, top);
        @include transition(all .25s cubic-bezier(.25, .8, .25, 1));
        pointer-events: none;
        color: rgba(0, 0, 0, 0.25);
        font-size: inherit;
        display: inline-block;
        position: absolute;
        z-index: 100;
    }
    
    &[type="search"]{
        label{
            transform: translate3d(46px, 4px, 0px) scale(1);
        }
    }
    input[type="text"],input[type="password"],input[type="number"], input, select {
        border: 0;
        font-size: inherit;
        font-family: inherit;
        padding: 8px 16px;
        margin: 0;
        box-sizing: border-box;
        font-size: inherit;
        width: 100%;
        line-height: 36px;
        transition: all 0.3s;
        background-color: rgba(255,255,255,0.25);
        &:hover {
            border-color: #f0552a;
            box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.3);
        }
        &:focus {
            outline: none;
            box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.7);
            border-bottom-width: 2px;
            background-color: white;
            & ~label {}
        }
    }
    input[type="search"]{
        padding-left: 42px;
        -webkit-appearance: textfield;
        &::-webkit-search-cancel-button {
            // Safari fix for X button on search inputs
            position: relative;
        }
    }
    &.isFilled,
    &.isFocused {
        label {
            @include transform(translate3d(10px, -24px, 0px) scale(0.75));
        }
    }
    &.isFilled{
        box-shadow: 0px 5px 0px 0px #3f86ff;
        background-color: rgba(255,255,255,0.25)!important;
    }
    
    &[disabled="disabled"], [disabled]{
        opacity: 0.1;
        cursor: not-allowed;
        background-color: transparent;
        input{
            pointer-events: none;
        }
    }
    &[readonly]{
        box-shadow: none;
        @include display-flex();
        @include justify-content(space-between);
        justify-content: space-between;
        box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.06);
        border-radius: 0;
        @include align-items(center);
        margin: 0 0 20px 0;
        font-size: 15px;
        label{
            position: initial;
            @include transform(none);
        }
        input{
            width: auto;
            text-align: right;
            @include flex(1,1,auto);
            padding: 0;
            font-size: 15px;
            color: rgba(0,0,0,0.9);
        }
    }
    &[type="password"]{
        z-index: 99;
    }

    &[type="unit"]{
        @include flex(0,0,150px);
    }
}

.half{
    @include flex(1,1,calc(100%/2 - 2px));
    @media screen and (max-width : 1420px) {
        @include flex(1,1,calc(100% - 2px));
    }
}
.one-third{
    @include flex(1,1,calc(100% * (1/3) - 2px));
    @media screen and (max-width : 1200px) {
        @include flex(1,1,calc(100% * (1/2) - 2px));
    }
    @media screen and (max-width : 700px) {
        @include flex(1,1,calc(100% - 2px));
    }
}
.fourth{
    @include flex(1,1,calc(100%/4 - 2px));
    @media screen and (max-width : 1420px) {
        @include flex(1,1,calc(100%/3 - 2px));
    }
    @media screen and (max-width : 1200px) {
        @include flex(1,1,calc(100%/2 - 2px));
    }
    @media screen and (max-width : 700px) {
        @include flex(1,1,calc(100% - 2px));
    }
}
.fifth{
    @include flex(1,1,calc(100% *(1/5) - 2px));
    @media screen and (max-width : 1200px)  {
        @include flex(1,1,calc(100%/2 - 2px));
    }
    @media screen and (max-width : 700px) {
        @include flex(1,1,calc(100% - 2px));
    }
}
.sixth{
    @include flex(1,1,calc(100%/6 - 2px));
    @media screen and (max-width : 1420px) {
        @include flex(1,1,calc(100%/4 - 2px));
    }
    @media screen and (max-width : 1200px) {
        @include flex(1,1,calc(100%/2 - 2px));
    }
    @media screen and (max-width : 700px) {
        @include flex(1,1,calc(100% - 2px));
    }
}
.eigth{
    @include flex(1,1,calc(100%/8 - 2px));
    @media screen and (max-width : 1420px) {
        @include flex(1,1,calc(100%/4 - 2px));
    }
    @media screen and (max-width : 1200px) {
        @include flex(1,1,calc(100%/2 - 2px));
    }
    @media screen and (max-width : 700px) {
        @include flex(1,1,calc(100% - 2px));
    }
}

.two-twelves {
    @include flex(1,1,calc(100% * (2/12) - 2px));
    @media screen and (max-width : 1200px) {
        @include flex(1,1,calc(100% * (4/12) - 2px));
    }
    @media screen and (max-width : 700px) {
        @include flex(1,1,calc(100% * (12/12) - 2px));
    }
    
}
.three-twelves {
    @include flex(1,1,calc(100% * (3/12) - 2px));
    @media screen and (max-width : 1200px) {
        @include flex(1,1,calc(100% * (6/12) - 2px));
    }
    @media screen and (max-width : 700px) {
        @include flex(1,1,calc(100% * (12/12) - 2px));
    }
    
}
.four-twelves {
    @include flex(1,1,calc(100% * (4/12) - 2px));
    @media screen and (max-width : 1200px) {
        @include flex(1,1,calc(100% * (8/12) - 2px));
    }
    @media screen and (max-width : 700px) {
        @include flex(1,1,calc(100% * (12/12) - 2px));
    }

}
.six-twelves {
    @include flex(1,1,calc(100% * (6/12) - 2px));
    @media screen and (max-width : 1200px) {
        @include flex(1,1,calc(100% * (12/12) - 2px));
    }

}

.addCard{
    @include flex-wrap(nowrap);
    clock-input-group{
        clock-input{
            &:nth-of-type(1){
                @include flex(1,1,calc(100% * (4/16) - 2px));
            }
            &:nth-of-type(2){
                @include flex(1,1,calc(100% * (4/16) - 2px));
                
            }
            &:nth-of-type(3){
                @include flex(1,1,calc(100% * (2/16) - 2px));
            }
            &:nth-of-type(4){
                @include flex(1,1,calc(100% * (6/16) - 2px));
            }
            @media screen and (max-width : 1420px) {
                &:nth-of-type(1){
                    @include flex(1,1,calc(100% * (2/4) - 2px));
                }
                &:nth-of-type(2){
                    @include flex(1,1,calc(100% * (1/4) - 2px));
                }
                &:nth-of-type(3){
                    @include flex(1,1,calc(100% * (1/4) - 2px));
                }
                &:nth-of-type(4){
                    @include flex(1,1,calc(100% * (4/4) - 2px));
                }
            }
            @media screen and (max-width : 900px) {
                &:nth-of-type(1){
                    @include flex(1,1,calc(100% * (4/4) - 2px));
                }
                &:nth-of-type(2){
                    @include flex(1,1,calc(100% * (2/4) - 2px));
                }
                &:nth-of-type(3){
                    @include flex(1,1,calc(100% * (2/4) - 2px));
                }
                &:nth-of-type(4){
                    @include flex(1,1,calc(100% * (4/4) - 2px));
                }
            }
            @media screen and (max-width : 700px) {
                &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(4){
                    @include flex(1,1,calc(100% * (4/4) - 2px));
                }
            }
        }
    }
    paper-button{
    }
}
.addSubscription{
    @include flex-wrap(nowrap);
    clock-input-group{
        clock-input{
            &:nth-of-type(1){
                @include flex(1,1,calc(100% * (5/15) - 2px));
            }
            &:nth-of-type(2){
                @include flex(1,1,calc(100% * (2/15) - 2px));
                
            }
            &:nth-of-type(3){
                @include flex(1,1,calc(100% * (2.5/15) - 2px));
            }
            &:nth-of-type(4){
                @include flex(1,1,calc(100% * (2.5/15) - 2px));
            }
            &:nth-of-type(5){
                @include flex(1,1,calc(100% * (3/15) - 2px));
            }
            @media screen and (max-width : 1420px) {
                &:nth-of-type(1){
                    @include flex(1,1,calc(100% * (10/15) - 2px));
                }
                &:nth-of-type(2){
                    @include flex(1,1,calc(100% * (5/15) - 2px));
                    
                }
                &:nth-of-type(3){
                    @include flex(1,1,calc(100% * (5/15) - 2px));
                }
                &:nth-of-type(4){
                    @include flex(1,1,calc(100% * (5/15) - 2px));
                }
                &:nth-of-type(5){
                    @include flex(1,1,calc(100% * (5/15) - 2px));
                }
            }
            @media screen and (max-width : 900px) {
                &:nth-of-type(1){
                    @include flex(1,1,calc(100% * (15/15) - 2px));
                }
                &:nth-of-type(2){
                    @include flex(1,1,calc(100% * (7.5/15) - 2px));
                    
                }
                &:nth-of-type(3){
                    @include flex(1,1,calc(100% * (7.5/15) - 2px));
                }
                &:nth-of-type(4){
                    @include flex(1,1,calc(100% * (7.5/15) - 2px));
                }
                &:nth-of-type(5){
                    @include flex(1,1,calc(100% * (7.5/15) - 2px));
                }
            }
            @media screen and (max-width : 700px) {
                &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(4),&:nth-of-type(5){
                    @include flex(1,1,calc(100% * (4/4) - 2px));
                }
            }
        }
    }
}

clock-input-group{
    @include display-flex();
    @include flex-direction(row);
    @include flex(1,1,auto);
    @include justify-content(space-between);
    @include flex-wrap(wrap);

    &~paper-button{
        margin-left: 10px;
    }
    &.card{

    }
    &.subscription{

    }
}