@import 'component/variable.scss';
@import 'component/mixin.scss';
@import 'component/attributes.scss';
@import 'component/element.scss';

@import '../view/home/home';
@import '../component/clock-input/clock-input';
@import '../component/clock-button/clock-button';

body{
	background: url(http://orig03.deviantart.net/fdde/f/2010/234/8/e/clock_crew_tiled_background_by_k3ltr0n.png);
    background-blend-mode: exclusion;
    background-color: #8f9a84;
	header{
		position: absolute;
	    right: 0px;
	    left: 0px;
	    top: 0px;
	    height: 40px;
	    background: rgba(255,255,255,0.9);
	    @include display-flex();
	    @include flex-direction(column);
	    @include justify-content(center);
	    section{
	    	margin-right: 4px;
	    	@include display-flex();
	    	@include justify-content(flex-end);
		    clock-button{
		    	padding: 2px 12px;
		    }
	    }
	}
}

*{
	border: 0;
}

input{
	border: 1px solid black;
}


[circle]{
	width: 400px;
	height: 400px;
	background-color: red;
	border-radius: 100%;
	color: white;
	@include display-flex();
	@include justify-content(center);
	@include align-items(center);
	animation: spin 3s linear infinite;
	background: url(http://i0.kym-cdn.com/entries/icons/original/000/011/612/strawberryclock.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

clock-button{
	&[action]{
		background-color: #728ddc;
	}
	&[secondary]{
		background-color: rgb(200,200,200);
	}
}

clock-modal{
	@include display-flex();
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
    clock-form{
    	background: white;
    	padding: 30px;
    }
}
clock-form{

}