[red] {
  background-color: #dc3f3f; }

[orange] {
  background-color: #f77d47; }

[yellow] {
  background-color: #d7de3a; }

[blue] {
  background-color: #3f86ff; }

[magenta] {
  background-color: #ac2eff; }

[gold] {
  background-color: gold; }

[alphablack8] {
  background-color: rgba(0, 0, 0, 0.08); }

/*
Creating mixins:
@mixin name($value){
    property: $value;
}

Using mixins:
@include name($value){
    property: $value
}
*/
[half], [row-half] {
  -webkit-flex: 0 0 calc(50% - 8px);
  flex: 0 0 calc(50% - 8px); }

[space-between] {
  -webkit-justify-content: space-between !important;
  justify-content: space-between !important; }

[align-self-center] {
  -webkit-align-self: center;
  align-self: center; }

[column-half] {
  width: calc(50% - 8px); }

[full] {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%; }

[short] {
  -webkit-flex: 0.5 1 0;
  flex: 0.5 1 0; }

[long] {
  -webkit-flex: 2 1 0;
  flex: 2 1 0; }

[right] {
  margin-left: auto !important; }

[left] {
  margin-right: auto !important; }

[horizontal], [row] {
  -webkit-flex-direction: row;
  flex-direction: row; }

[vertical], [column] {
  -webkit-flex-direction: column;
  flex-direction: column; }

[soft-full] {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%; }

[soft-auto] {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto; }

[hard-full] {
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%; }

[hard-auto] {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto; }

[flex-wrap] {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

*[flex-half] {
  -webkit-flex: 0 0 calc(50% - 5px);
  flex: 0 0 calc(50% - 5px); }

[loader] {
  height: 48px; }

[z="1"] {
  box-shadow: 0px 5px 9px -8px black; }

[z="2"] {
  box-shadow: 0px 10px 9px -6px black; }

[z="3"] {
  box-shadow: 0px 12px 10px -4px black; }

[z="4"] {
  box-shadow: 0px 15px 22px -7px black; }

[disabled] {
  opacity: 0.3;
  cursor: disabled;
  pointer-events: none; }
  [disabled] button, [disabled] input {
    cursor: not-allowed; }

[red] {
  color: red; }

[orange] {
  color: #f06b30; }

[black-85] {
  color: rgba(0, 0, 0, 0.85); }

html {
  background-color: #3f86ff;
  background-color: #EB4E4E;
  background-color: #D5D5D5;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%; }
  html.blue {
    background-color: #AEC3E3; }
  html.yellow {
    background-color: #E8E58B; }
  html.pink {
    background-color: #D25ED9; }
  html:active {
    cursor: pointer; }

a {
  text-decoration: none;
  color: black; }

h1, h2, h3, h4, h5 {
  font-size: 13px;
  text-align: left;
  margin: 0; }

h1 {
  font-size: 32px;
  line-height: 100%; }
  h1 ~ p {
    margin-top: 0px; }
    h1 ~ p ~ h1 {
      margin-top: 20px; }

h2 {
  font-size: 28px;
  line-height: 100%; }
  h2 ~ p {
    margin-top: 0px; }
    h2 ~ p ~ h2 {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid rgba(0, 0, 0, 0.1); }

p {
  font-size: 22px;
  margin: 0; }

body {
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }

main {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden; }
  main > * {
    padding: 0 40px 40px 40px;
    padding-top: 88px;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column; }

form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }

section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto; }

footer {
  display: -webkit-flex;
  display: flex; }

home {
  display: -webkit-flex;
  display: flex; }
  home [forum] {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column; }
    home [forum] [post] {
      padding: 8px;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
      display: -webkit-flex;
      display: flex;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 2px;
      overflow: hidden;
      cursor: pointer;
      transition: 0.3s all; }
      home [forum] [post]:hover {
        background-color: rgba(255, 255, 255, 0.9); }
      home [forum] [post] [image] {
        -webkit-flex: 0 0 220px;
        flex: 0 0 220px;
        background: rgba(0, 0, 0, 0.02);
        margin-right: 10px;
        color: red;
        font-size: 52px;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center; }
        home [forum] [post] [image] a {
          width: 100%;
          height: 100%;
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat; }
      home [forum] [post] [content] {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column; }
        home [forum] [post] [content] h1 {
          font-size: 18px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.9); }
        home [forum] [post] [content] p {
          font-size: 14px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.7); }
      home [forum] [post] + [post] {
        margin-top: 10px; }
  home [new-thread] {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    padding: 12px;
    transition: 0.3s all;
    cursor: pointer; }
    home [new-thread]:hover {
      background-color: rgba(255, 255, 255, 0.9); }
    home [new-thread] textarea {
      -webkit-flex: 1 1 100%;
      flex: 1 1 100%;
      margin-right: 5px; }
    home [new-thread] [make-thread] {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column; }
  home [container] {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row; }
    home [container] [sidebar] {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-flex: 0 0 300px;
      flex: 0 0 300px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9); }
      home [container] [sidebar] iframe {
        display: -webkit-flex;
        display: flex;
        -webkit-flex: 0 0 500px;
        flex: 0 0 500px; }
    home [container] [forum] {
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      display: -webkit-flex;
      display: flex;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      margin-right: 8px; }

clock-input, clock-select {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: right;
  background-color: white;
  border-width: 0px;
  position: relative;
  margin: 20px 1px;
  font-size: 28px;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.6);
  border-radius: 2px 2px 0 0;
  transition: all 0.3s; }
  clock-input clock-icon, clock-select clock-icon {
    top: 18px;
    left: 18px !important;
    opacity: 0.85; }
  clock-input label, clock-select label {
    -webkit-transform: translate3d(16px, 4px, 0px) scale(1);
    transform: translate3d(16px, 4px, 0px) scale(1);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
    pointer-events: none;
    color: rgba(0, 0, 0, 0.25);
    font-size: inherit;
    display: inline-block;
    position: absolute;
    z-index: 100; }
  clock-input[type="search"] label, clock-select[type="search"] label {
    transform: translate3d(46px, 4px, 0px) scale(1); }
  clock-input input[type="text"], clock-input input[type="password"], clock-input input[type="number"], clock-input input, clock-input select, clock-select input[type="text"], clock-select input[type="password"], clock-select input[type="number"], clock-select input, clock-select select {
    border: 0;
    font-size: inherit;
    font-family: inherit;
    padding: 8px 16px;
    margin: 0;
    box-sizing: border-box;
    font-size: inherit;
    width: 100%;
    line-height: 36px;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.25); }
    clock-input input[type="text"]:hover, clock-input input[type="password"]:hover, clock-input input[type="number"]:hover, clock-input input:hover, clock-input select:hover, clock-select input[type="text"]:hover, clock-select input[type="password"]:hover, clock-select input[type="number"]:hover, clock-select input:hover, clock-select select:hover {
      border-color: #f0552a;
      box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3); }
    clock-input input[type="text"]:focus, clock-input input[type="password"]:focus, clock-input input[type="number"]:focus, clock-input input:focus, clock-input select:focus, clock-select input[type="text"]:focus, clock-select input[type="password"]:focus, clock-select input[type="number"]:focus, clock-select input:focus, clock-select select:focus {
      outline: none;
      box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.7);
      border-bottom-width: 2px;
      background-color: white; }
  clock-input input[type="search"], clock-select input[type="search"] {
    padding-left: 42px;
    -webkit-appearance: textfield; }
    clock-input input[type="search"]::-webkit-search-cancel-button, clock-select input[type="search"]::-webkit-search-cancel-button {
      position: relative; }
  clock-input.isFilled label, clock-input.isFocused label, clock-select.isFilled label, clock-select.isFocused label {
    -webkit-transform: translate3d(10px, -24px, 0px) scale(0.75);
    transform: translate3d(10px, -24px, 0px) scale(0.75); }
  clock-input.isFilled, clock-select.isFilled {
    box-shadow: 0px 5px 0px 0px #3f86ff;
    background-color: rgba(255, 255, 255, 0.25) !important; }
  clock-input[disabled="disabled"], clock-input [disabled], clock-select[disabled="disabled"], clock-select [disabled] {
    opacity: 0.1;
    cursor: not-allowed;
    background-color: transparent; }
    clock-input[disabled="disabled"] input, clock-input [disabled] input, clock-select[disabled="disabled"] input, clock-select [disabled] input {
      pointer-events: none; }
  clock-input[readonly], clock-select[readonly] {
    box-shadow: none;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    justify-content: space-between;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.06);
    border-radius: 0;
    -webkit-align-items: center;
    align-items: center;
    margin: 0 0 20px 0;
    font-size: 15px; }
    clock-input[readonly] label, clock-select[readonly] label {
      position: initial;
      -webkit-transform: none;
      transform: none; }
    clock-input[readonly] input, clock-select[readonly] input {
      width: auto;
      text-align: right;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 0;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.9); }
  clock-input[type="password"], clock-select[type="password"] {
    z-index: 99; }
  clock-input[type="unit"], clock-select[type="unit"] {
    -webkit-flex: 0 0 150px;
    flex: 0 0 150px; }

.half {
  -webkit-flex: 1 1 calc(100%/2 - 2px);
  flex: 1 1 calc(100%/2 - 2px); }
  @media screen and (max-width: 1420px) {
    .half {
      -webkit-flex: 1 1 calc(100% - 2px);
      flex: 1 1 calc(100% - 2px); } }

.one-third {
  -webkit-flex: 1 1 calc(100% * (1/3) - 2px);
  flex: 1 1 calc(100% * (1/3) - 2px); }
  @media screen and (max-width: 1200px) {
    .one-third {
      -webkit-flex: 1 1 calc(100% * (1/2) - 2px);
      flex: 1 1 calc(100% * (1/2) - 2px); } }
  @media screen and (max-width: 700px) {
    .one-third {
      -webkit-flex: 1 1 calc(100% - 2px);
      flex: 1 1 calc(100% - 2px); } }

.fourth {
  -webkit-flex: 1 1 calc(100%/4 - 2px);
  flex: 1 1 calc(100%/4 - 2px); }
  @media screen and (max-width: 1420px) {
    .fourth {
      -webkit-flex: 1 1 calc(100%/3 - 2px);
      flex: 1 1 calc(100%/3 - 2px); } }
  @media screen and (max-width: 1200px) {
    .fourth {
      -webkit-flex: 1 1 calc(100%/2 - 2px);
      flex: 1 1 calc(100%/2 - 2px); } }
  @media screen and (max-width: 700px) {
    .fourth {
      -webkit-flex: 1 1 calc(100% - 2px);
      flex: 1 1 calc(100% - 2px); } }

.fifth {
  -webkit-flex: 1 1 calc(100% *(1/5) - 2px);
  flex: 1 1 calc(100% *(1/5) - 2px); }
  @media screen and (max-width: 1200px) {
    .fifth {
      -webkit-flex: 1 1 calc(100%/2 - 2px);
      flex: 1 1 calc(100%/2 - 2px); } }
  @media screen and (max-width: 700px) {
    .fifth {
      -webkit-flex: 1 1 calc(100% - 2px);
      flex: 1 1 calc(100% - 2px); } }

.sixth {
  -webkit-flex: 1 1 calc(100%/6 - 2px);
  flex: 1 1 calc(100%/6 - 2px); }
  @media screen and (max-width: 1420px) {
    .sixth {
      -webkit-flex: 1 1 calc(100%/4 - 2px);
      flex: 1 1 calc(100%/4 - 2px); } }
  @media screen and (max-width: 1200px) {
    .sixth {
      -webkit-flex: 1 1 calc(100%/2 - 2px);
      flex: 1 1 calc(100%/2 - 2px); } }
  @media screen and (max-width: 700px) {
    .sixth {
      -webkit-flex: 1 1 calc(100% - 2px);
      flex: 1 1 calc(100% - 2px); } }

.eigth {
  -webkit-flex: 1 1 calc(100%/8 - 2px);
  flex: 1 1 calc(100%/8 - 2px); }
  @media screen and (max-width: 1420px) {
    .eigth {
      -webkit-flex: 1 1 calc(100%/4 - 2px);
      flex: 1 1 calc(100%/4 - 2px); } }
  @media screen and (max-width: 1200px) {
    .eigth {
      -webkit-flex: 1 1 calc(100%/2 - 2px);
      flex: 1 1 calc(100%/2 - 2px); } }
  @media screen and (max-width: 700px) {
    .eigth {
      -webkit-flex: 1 1 calc(100% - 2px);
      flex: 1 1 calc(100% - 2px); } }

.two-twelves {
  -webkit-flex: 1 1 calc(100% * (2/12) - 2px);
  flex: 1 1 calc(100% * (2/12) - 2px); }
  @media screen and (max-width: 1200px) {
    .two-twelves {
      -webkit-flex: 1 1 calc(100% * (4/12) - 2px);
      flex: 1 1 calc(100% * (4/12) - 2px); } }
  @media screen and (max-width: 700px) {
    .two-twelves {
      -webkit-flex: 1 1 calc(100% * (12/12) - 2px);
      flex: 1 1 calc(100% * (12/12) - 2px); } }

.three-twelves {
  -webkit-flex: 1 1 calc(100% * (3/12) - 2px);
  flex: 1 1 calc(100% * (3/12) - 2px); }
  @media screen and (max-width: 1200px) {
    .three-twelves {
      -webkit-flex: 1 1 calc(100% * (6/12) - 2px);
      flex: 1 1 calc(100% * (6/12) - 2px); } }
  @media screen and (max-width: 700px) {
    .three-twelves {
      -webkit-flex: 1 1 calc(100% * (12/12) - 2px);
      flex: 1 1 calc(100% * (12/12) - 2px); } }

.four-twelves {
  -webkit-flex: 1 1 calc(100% * (4/12) - 2px);
  flex: 1 1 calc(100% * (4/12) - 2px); }
  @media screen and (max-width: 1200px) {
    .four-twelves {
      -webkit-flex: 1 1 calc(100% * (8/12) - 2px);
      flex: 1 1 calc(100% * (8/12) - 2px); } }
  @media screen and (max-width: 700px) {
    .four-twelves {
      -webkit-flex: 1 1 calc(100% * (12/12) - 2px);
      flex: 1 1 calc(100% * (12/12) - 2px); } }

.six-twelves {
  -webkit-flex: 1 1 calc(100% * (6/12) - 2px);
  flex: 1 1 calc(100% * (6/12) - 2px); }
  @media screen and (max-width: 1200px) {
    .six-twelves {
      -webkit-flex: 1 1 calc(100% * (12/12) - 2px);
      flex: 1 1 calc(100% * (12/12) - 2px); } }

.addCard {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .addCard clock-input-group clock-input:nth-of-type(1) {
    -webkit-flex: 1 1 calc(100% * (4/16) - 2px);
    flex: 1 1 calc(100% * (4/16) - 2px); }
  .addCard clock-input-group clock-input:nth-of-type(2) {
    -webkit-flex: 1 1 calc(100% * (4/16) - 2px);
    flex: 1 1 calc(100% * (4/16) - 2px); }
  .addCard clock-input-group clock-input:nth-of-type(3) {
    -webkit-flex: 1 1 calc(100% * (2/16) - 2px);
    flex: 1 1 calc(100% * (2/16) - 2px); }
  .addCard clock-input-group clock-input:nth-of-type(4) {
    -webkit-flex: 1 1 calc(100% * (6/16) - 2px);
    flex: 1 1 calc(100% * (6/16) - 2px); }
  @media screen and (max-width: 1420px) {
    .addCard clock-input-group clock-input:nth-of-type(1) {
      -webkit-flex: 1 1 calc(100% * (2/4) - 2px);
      flex: 1 1 calc(100% * (2/4) - 2px); }
    .addCard clock-input-group clock-input:nth-of-type(2) {
      -webkit-flex: 1 1 calc(100% * (1/4) - 2px);
      flex: 1 1 calc(100% * (1/4) - 2px); }
    .addCard clock-input-group clock-input:nth-of-type(3) {
      -webkit-flex: 1 1 calc(100% * (1/4) - 2px);
      flex: 1 1 calc(100% * (1/4) - 2px); }
    .addCard clock-input-group clock-input:nth-of-type(4) {
      -webkit-flex: 1 1 calc(100% * (4/4) - 2px);
      flex: 1 1 calc(100% * (4/4) - 2px); } }
  @media screen and (max-width: 900px) {
    .addCard clock-input-group clock-input:nth-of-type(1) {
      -webkit-flex: 1 1 calc(100% * (4/4) - 2px);
      flex: 1 1 calc(100% * (4/4) - 2px); }
    .addCard clock-input-group clock-input:nth-of-type(2) {
      -webkit-flex: 1 1 calc(100% * (2/4) - 2px);
      flex: 1 1 calc(100% * (2/4) - 2px); }
    .addCard clock-input-group clock-input:nth-of-type(3) {
      -webkit-flex: 1 1 calc(100% * (2/4) - 2px);
      flex: 1 1 calc(100% * (2/4) - 2px); }
    .addCard clock-input-group clock-input:nth-of-type(4) {
      -webkit-flex: 1 1 calc(100% * (4/4) - 2px);
      flex: 1 1 calc(100% * (4/4) - 2px); } }
  @media screen and (max-width: 700px) {
    .addCard clock-input-group clock-input:nth-of-type(1), .addCard clock-input-group clock-input:nth-of-type(2), .addCard clock-input-group clock-input:nth-of-type(3), .addCard clock-input-group clock-input:nth-of-type(4) {
      -webkit-flex: 1 1 calc(100% * (4/4) - 2px);
      flex: 1 1 calc(100% * (4/4) - 2px); } }

.addSubscription {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .addSubscription clock-input-group clock-input:nth-of-type(1) {
    -webkit-flex: 1 1 calc(100% * (5/15) - 2px);
    flex: 1 1 calc(100% * (5/15) - 2px); }
  .addSubscription clock-input-group clock-input:nth-of-type(2) {
    -webkit-flex: 1 1 calc(100% * (2/15) - 2px);
    flex: 1 1 calc(100% * (2/15) - 2px); }
  .addSubscription clock-input-group clock-input:nth-of-type(3) {
    -webkit-flex: 1 1 calc(100% * (2.5/15) - 2px);
    flex: 1 1 calc(100% * (2.5/15) - 2px); }
  .addSubscription clock-input-group clock-input:nth-of-type(4) {
    -webkit-flex: 1 1 calc(100% * (2.5/15) - 2px);
    flex: 1 1 calc(100% * (2.5/15) - 2px); }
  .addSubscription clock-input-group clock-input:nth-of-type(5) {
    -webkit-flex: 1 1 calc(100% * (3/15) - 2px);
    flex: 1 1 calc(100% * (3/15) - 2px); }
  @media screen and (max-width: 1420px) {
    .addSubscription clock-input-group clock-input:nth-of-type(1) {
      -webkit-flex: 1 1 calc(100% * (10/15) - 2px);
      flex: 1 1 calc(100% * (10/15) - 2px); }
    .addSubscription clock-input-group clock-input:nth-of-type(2) {
      -webkit-flex: 1 1 calc(100% * (5/15) - 2px);
      flex: 1 1 calc(100% * (5/15) - 2px); }
    .addSubscription clock-input-group clock-input:nth-of-type(3) {
      -webkit-flex: 1 1 calc(100% * (5/15) - 2px);
      flex: 1 1 calc(100% * (5/15) - 2px); }
    .addSubscription clock-input-group clock-input:nth-of-type(4) {
      -webkit-flex: 1 1 calc(100% * (5/15) - 2px);
      flex: 1 1 calc(100% * (5/15) - 2px); }
    .addSubscription clock-input-group clock-input:nth-of-type(5) {
      -webkit-flex: 1 1 calc(100% * (5/15) - 2px);
      flex: 1 1 calc(100% * (5/15) - 2px); } }
  @media screen and (max-width: 900px) {
    .addSubscription clock-input-group clock-input:nth-of-type(1) {
      -webkit-flex: 1 1 calc(100% * (15/15) - 2px);
      flex: 1 1 calc(100% * (15/15) - 2px); }
    .addSubscription clock-input-group clock-input:nth-of-type(2) {
      -webkit-flex: 1 1 calc(100% * (7.5/15) - 2px);
      flex: 1 1 calc(100% * (7.5/15) - 2px); }
    .addSubscription clock-input-group clock-input:nth-of-type(3) {
      -webkit-flex: 1 1 calc(100% * (7.5/15) - 2px);
      flex: 1 1 calc(100% * (7.5/15) - 2px); }
    .addSubscription clock-input-group clock-input:nth-of-type(4) {
      -webkit-flex: 1 1 calc(100% * (7.5/15) - 2px);
      flex: 1 1 calc(100% * (7.5/15) - 2px); }
    .addSubscription clock-input-group clock-input:nth-of-type(5) {
      -webkit-flex: 1 1 calc(100% * (7.5/15) - 2px);
      flex: 1 1 calc(100% * (7.5/15) - 2px); } }
  @media screen and (max-width: 700px) {
    .addSubscription clock-input-group clock-input:nth-of-type(1), .addSubscription clock-input-group clock-input:nth-of-type(2), .addSubscription clock-input-group clock-input:nth-of-type(3), .addSubscription clock-input-group clock-input:nth-of-type(4), .addSubscription clock-input-group clock-input:nth-of-type(5) {
      -webkit-flex: 1 1 calc(100% * (4/4) - 2px);
      flex: 1 1 calc(100% * (4/4) - 2px); } }

clock-input-group {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  clock-input-group ~ paper-button {
    margin-left: 10px; }

clock-button {
  position: relative;
  background: #45BB8A;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 16px;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  border-radius: 2px;
  transition: all 0.3s;
  box-shadow: 0px 2px 3px -2px black;
  text-transform: capitalize; }
  clock-button button, clock-button a {
    opacity: 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    cursor: pointer; }
  clock-button:hover {
    background: #3CA77A; }
  clock-button:active {
    background: #45BB8A; }
  clock-button label {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-align-items: center;
    align-items: center; }
  clock-button[red], clock-button.red {
    background-color: #dc3f3f !important;
    color: white !important; }
    clock-button[red]:hover, clock-button.red:hover {
      background-color: #c42424; }
    clock-button[red]:active, clock-button.red:active {
      background-color: #e46a6a; }
  clock-button[orange], clock-button.orange {
    background-color: #f77d47 !important;
    color: white !important; }
    clock-button[orange]:hover, clock-button.orange:hover {
      background-color: #f55a16; }
    clock-button[orange]:active, clock-button.orange:active {
      background-color: #f9a078; }
  clock-button[yellow], clock-button.yellow {
    background-color: #d7de3a !important;
    color: white !important; }
    clock-button[yellow]:hover, clock-button.yellow:hover {
      background-color: #bdc421; }
    clock-button[yellow]:active, clock-button.yellow:active {
      background-color: #e0e566; }
  clock-button[blue], clock-button.blue {
    background-color: #3f86ff !important;
    color: white !important; }
    clock-button[blue]:hover, clock-button.blue:hover {
      background-color: #0c66ff; }
    clock-button[blue]:active, clock-button.blue:active {
      background-color: #72a6ff; }
  clock-button[magenta], clock-button.magenta {
    background-color: #ac2eff !important;
    color: white !important; }
    clock-button[magenta]:hover, clock-button.magenta:hover {
      background-color: #9700fa; }
    clock-button[magenta]:active, clock-button.magenta:active {
      background-color: #c061ff; }
  clock-button + clock-button {
    margin-left: 4px; }

body {
  background: url(http://orig03.deviantart.net/fdde/f/2010/234/8/e/clock_crew_tiled_background_by_k3ltr0n.png);
  background-blend-mode: exclusion;
  background-color: #8f9a84; }
  body header {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    height: 40px;
    background: rgba(255, 255, 255, 0.9);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center; }
    body header section {
      margin-right: 4px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-end;
      justify-content: flex-end; }
      body header section clock-button {
        padding: 2px 12px; }

* {
  border: 0; }

input {
  border: 1px solid black; }

[circle] {
  width: 400px;
  height: 400px;
  background-color: red;
  border-radius: 100%;
  color: white;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  animation: spin 3s linear infinite;
  background: url(http://i0.kym-cdn.com/entries/icons/original/000/011/612/strawberryclock.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

clock-button[action] {
  background-color: #728ddc; }

clock-button[secondary] {
  background-color: #c8c8c8; }

clock-modal {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5); }
  clock-modal clock-form {
    background: white;
    padding: 30px; }
