home{
	@include display-flex();
	[forum]{
		@include display-flex();
		@include flex-direction(column);
		[post]{
			padding: 8px;
			@include flex(0,0,auto);
			@include display-flex();
			background-color: rgba(255,255,255,0.4);
			border-radius: 2px;
			overflow: hidden;
			cursor: pointer;
			transition: 0.3s all;
			&:hover{
				background-color: rgba(255,255,255,0.9);
			}
			[image]{
				@include flex(0,0,220px);
				background: rgba(0,0,0,0.02);
				margin-right: 10px;

				color: red;
				font-size: 52px;
				@include display-flex();
				@include justify-content(center);
				@include align-items(center);

				a{
				width: 100%;
			    height: 100%;
			    background-size: 100%;
			    background-position: center;
			    background-repeat: no-repeat;
				}
			}
			[content]{
				@include flex(1,1,auto);
				@include display-flex();
				@include flex-direction(column);
				h1{
					font-size: 18px;
					font-weight: 400;
					color: rgba(0,0,0,0.9);
				}
				p{
					font-size: 14px;
					font-weight: 400;
					color: rgba(0,0,0,0.7);
				}
			}
			&+[post]{
				margin-top: 10px;
			}
		}
	}
	[new-thread]{
		@include display-flex();
		@include flex-direction(column);
		margin-bottom: 10px;
	    background-color: rgba(255,255,255,0.4);
	    border-radius: 2px;
	    padding: 12px;
		transition: 0.3s all;
		cursor: pointer;
	    &:hover{
	    	background-color: rgba(255,255,255,0.9);
	    }
		textarea{
			@include flex(1,1,100%);
			margin-right: 5px;
		}
		[make-thread]{
			@include display-flex();
			@include flex-direction(column);
		}
	}
	[container]{
		@include display-flex();
		@include flex-direction(row);
		[sidebar]{
			@include display-flex();
			@include flex-direction(column);
			@include flex(0,0,300px);
			height: 100%;
			background-color: rgba(255,255,255,0.9);
			iframe{
				@include display-flex();
				@include flex(0,0,500px);
			}
		}
		[forum]{
			@include justify-content(flex-start);
			@include display-flex();
			@include flex(1,1,auto);
			margin-right: 8px;
		}
	}
}