<header>
    <section>
    	<clock-button action
    	label="Sign Up"
    	ng-click="home.isSignupFormVisible = true"
    	ng-if="!home.isLoggedIn()">
    	</clock-button>
    	<clock-button secondary
    	label="Log In"
    	ng-click="home.isLoginFormVisible = true"
    	ng-if="!home.isLoggedIn()">
    	</clock-button>
    	<p ng-if="home.isLoggedIn()">{{home.user}}</p>
    </section>
</header>
<clock-modal ng-if="home.isSignupFormVisible">
	<clock-form>
		<form name="home.signupForm" ng-submit="home.submitSignupForm()">
			<fieldset>
				<section>
					<clock-input 
					ng-model="home.signupForm.username"
					label="Username"
					ng-required="true">
					</clock-input>
				</section>
				<section>
					<clock-input 
					ng-model="home.signupForm.email"
					label="Email Address"
					ng-required="true">
					</clock-input>
				</section>
				<section>
					<clock-input 
					ng-model="home.signupForm.password"
					label="Password"
					type="password"
					ng-required="true">
					</clock-input>
				</section>
				<section>
					<clock-input 
					ng-model="home.signupForm.confirmPassword"
					label="Confirm Password"
					type="password"
					ng-required="true">
					</clock-input>
				</section>
				<section>
					<clock-button secondary
					label="Cancel"
					type="button"
					ng-click="home.isSignupFormVisible = false">
					</clock-button>
					<clock-button action
					label="Submit"
					type="submit"
					ng-disabled="!home.signupForm.$valid || home.signupForm.password !== home.signupForm.confirmPassword">
					</clock-button>
				</sections>
			</fieldset>
		</form>
	</clock-form>
</clock-modal>
<clock-modal ng-if="home.isLoginFormVisible">
	<clock-form>
		<form name="home.loginForm" ng-submit="home.submitLoginForm()">
			<fieldset>
				<section>
					<clock-input 
					ng-model="home.loginForm.username"
					label="Username"
					ng-required="true">
					</clock-input>
				</section>
				<section>
					<clock-input 
					ng-model="home.loginForm.password"
					label="Password"
					type="password"
					ng-required="true">
					</clock-input>
				</section>
				<section>
					<clock-button secondary
					label="Cancel"
					type="button"
					ng-click="home.isLoginFormVisible = false">
					</clock-button>
					<clock-button action
					label="Submit"
					type="submit"
					ng-disabled="!home.loginForm.$valid">
					</clock-button>
				</sections>
			</fieldset>
		</form>
	</clock-form>
</clock-modal>
<section ng-if="!home.isLoggedIn()">
	<p>Login to post.</p>
</section>
<section new-thread ng-if="home.isLoggedIn()">
	<p ng-click="showPost = !showPost">Create a Clockpost</p>
	<section make-thread ng-show="showPost">
		<clock-form>
			<form name="home.form" ng-submit="home.send()">
				<fieldset>
					<clock-input label="Title" ng-model="home.form.title" ng-required="true"></clock-input>
					<clock-input label="URL / Image" ng-model="home.form.url"></clock-input>
					<textarea label="messages" ng-model="home.form.message"></textarea> 
					<clock-input label="Niche" ng-model="home.form.niche"></clock-input>
					<clock-button label="Send" type="submit" ng-disabled="home.form.$valid === false"></clock-button>
				</fieldset>
			</form>
		</clock-form>
	</section>
</section>
<section container>
	<section forum>
	 <!-- track by $index | orderBy: '-date' -->
		<section post ng-repeat="thread in home.threads | orderBy: '-date_created'">
			<section image><a ng-href="{{thread.url}}" style="background-image:url('{{thread.url}}')"></a></section>
			<section content>
				<section><a ng-href="{{thread.url}}">{{ thread.name }}</a><p>Views: 200 | Replies: 100</p></section>
				<section><p>submitted {{home.timer(thread.date_created) }} by {{thread.username}} to General Chat</p></section>
				<section><p>10 comments - share - report - hide</p></section>
				
			</section>
		</section>
	</section>
	<section sidebar>
		<section>
			<p>{{home.users.length}} users registered</p>
		</section>
		<section>
			<p>Latest users: <span ng-repeat="user in home.users | limitTo: 30 | orderBy: '-date_created'">{{ user.username }}, </span></p>
		</section>
		<iframe src="https://discordapp.com/widget?id=229310602349248522&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
	</section>
</section>